# Virtual environments
venv/
.venv/
env/
.env/

# Byte-code and optimized files
__pycache__/
*.pyc
*$py.class

# Editor/IDE files (e.g., VS Code, PyCharm)
.idea/
.vscode/

# Build artifacts
raw/
stg/
/lec_02/extra_hw/db/rides.db
/lec_03/pagila-data.sql
/lec_03/pagila-schema.sql